h1{color: steelblue;background-color: rgb(198, 200, 202); font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2{color: steelblue; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;}
h3{color:steelblue; font-family:Arial, Helvetica, sans-serif; text-align: center; font-size: 10%}
h4{color:black;background-color: rgb(198, 200, 202); font-family:Arial, Helvetica, sans-serif}

nav {background-color: white;}

.navbar bg-body-tertiary fixed-top {width: 1500px;}

#barra-navegacion {
    display: flex;
    justify-content:space-between ;
}

#d-block w-100 {height: 1000px; width: 150}



#listanavegacion {
    display: flex;
    justify-content:space-between}

#listanavegacion li a {
    text-decoration: none;}

#listanavegacion {color: black; list-style-type:none; font-size:100% ; text-align: center;}

.listabarra {
    font-size: 20px;
    color: #000000;
    margin: 20px;
    text-align: center;
    }


.flex-container {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: flex-start;
    align-content: space-between;
    width: 100%;
    height: 0 auto;
    margin: 0 auto
    }

.caja1 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: 0;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    text-align: center;
    margin: 10px;
    padding: 15px;
    flex-grow: 25%;
    border-radius: 10px;
    box-shadow: -3px 3px 3px 3px lightgray;
    align-content: center;
    font-size: 14px;
    transition-duration: 0.5s;
    }       
    
    .caja1:hover {
    box-shadow: -5px 5px 5px 5px lightgray;
    background: rgb(210, 237, 247);}

.caja2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    }       
     
.listabarra {
    transition-duration: 0.5s}

    .listabarra:hover {
    background: lightgray;  
    border-radius: 5px;
    font-style: normal;
    color: white;
    padding: 5px;
    border: 1px solid lightgray}


.subcaja1 {
    align-content: center;
    margin: 10px}


ul {color: dodgerblue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: larger;}

p {color: darkslategrey;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;}

form {font-family: Arial, Helvetica, sans-serif;}


.seccioncontacto {
    display: flex;
    justify-content:space-between;}


footer {background-color: #0097B2;}

#contacto {color: white;}


/* A partir de acá, configuración Media Queries - de 320px a 1024px*/ 
body {
    font-size: 16px;
    
}

.bodnavbar-brand {
    width: 25%;
    height: 25%;}

@media (min-width:1024px) {
    body {font-size:20px;
    }  

    .bodnavbar-brand {
    width: 75%;
    height: 75%;}
}

/* Intenté hacerlo pero no logré reflejarlo en la página*/
